@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

/* screen for tablets and medium device*/
@media only screen and (max-width: 600px) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

header {
    background-color:darkslategray;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    border-radius: 0px 0px 15px 15px;
}

header, main, footer {
    margin: auto;
    max-width: 960px;
}

footer {
    background-color:darkslategray;
    color: white;
    font-size: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    border-radius: 15px 15px 0px 0px;
}

footer a {
    font-size: 25px;
    color: white;
}

img {
    border: 2px solid;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}

main {
    text-align: center;
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 9px;
    font-family: 'Cabin', sans-serif;
}

.desing {
    text-align: left;
    background-color:darkslategray;
    color:white;
    padding: 4px;
    border-radius: 10px 10px 0px 0px;
}

a {
    font-size: 1.5em;
}