@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


header {
    background-color:darkslategray;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

header, main, footer {
    margin: auto;
    max-width: 960px;
}

footer {
    background-color:darkslategray;
    color: white;
    font-size: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

footer a {
    font-size: 25px;
    color: white;
}

img {
    border: 2px solid;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}

main {
    text-align: center;
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 9px;
    font-family: 'Cabin', sans-serif;
}

.desing {
    text-align: left;
    background-color:darkslategray;
    color:white;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a {
    font-size: 1.5em;
}

/*small screen*/
@media all and (max-width: 200px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/*medium screen*/
@media all and (max-width: 300px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/*large screen*/
@media all and (max-width: 500px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}