/*css*/
@media all and (max-width: 40.5em) {
  footer img {
                width: 280px;
  }

  footer, header, nav ul{
    display: grid;
    grid-template-columns: 1fr;
  }
  #social {
    margin: 0 auto;
  }

  #social {
    float: left;
  }
}