@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

img {
    max-width: 100%;
    height: auto;
}

main, footer {
    max-width: 980px;
    margin: 0 auto;
}

footer {
    background-color: #440d0f;
}

header {
    background-color:  #440d0f;
    color: white;
    font-family: "Staatliches", cursive;
}

header img {
    width: 300px;
    height: 290px;
    margin-left: 10em;
    margin-top: -1em;
    margin-bottom: 2em;
}

#motto {
    margin-left: 29em;
    margin-top: -14em;
    margin-bottom: 2em;
}

nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr)); 
  background-color: #60AB9A;
  text-align: center;
  
}   

nav a {
    font-size: 1.5em;
    text-decoration: none;
    color: brown;
    padding: 10px 10px 8px 8px;
}

nav li {
    padding: 10px 10px 8px 8px;
}

nav a:hover {
    background-color: darkorange;
    color: black;
}