
img {
    max-width: 100%;
    height: auto;
}

main, footer {
    max-width: 980px;
    margin: 0 auto;
}

header {
    background-color:  #440d0f;
    color: white;
}

header img {
    border-radius: 10px;
    width: 170px;
    height: 150px;
}