@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

img {
    max-width: 100%;
    height: auto;
}

main, footer {
    max-width: 980px;
    margin: 0 auto;
}

footer {
    background-color: #440d0f;
}

header {
    background-color:  #440d0f;
    color: white;
    font-family: "Staatliches", cursive;
}

header img {
    width: 300px;
    height: 290px;
    margin-left: 18em;
}

#motto {
    margin-left: 36em;
    margin-top: -12.5em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #60AB9A;
  
}
    

nav li {
    display: inline;
    border: solid 1px black;
}

nav a {
    border: solid 1px black;
}
