@media only screen and (min-width: 20em) {
   
  nav button {
    margin: 0.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
  }
  
  nav {
    background-color: rgba(48, 175, 44, 0.466);
    font-family: Verdana, sans-serif;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    display: block;
    padding: 0.8rem;
    text-decoration: none;
    color: whitesmoke;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  .active {
    background-color: red;
    color: white;
  }

  nav ul li a:hover {
    background-color: rgb(97, 61, 61);
    color: whitesmoke;
  }

  nav ul.hide {
    display: none;
  }

  footer img {
    width: 150px;
    height: 100px;
    padding-top: 1.5rem;
  }

  #social {
    padding-bottom: 1.5rem;
  }

  #summary {
    font-size: 1rem;
    position: relative;
    margin-top: 80px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
  }

  form fieldset {
    margin: 2rem;
    border: 2px solid forestgreen;
    border-radius: 10px;
  }

  form label.top input, form select, form div {
    display: block;
    padding: .4rem;
    border-radius: 5px;
  }

  form label {
    display: block;
    padding: 5px;
  }

  form label.top {
    display: block;
    padding: 1.1rem;
  }

  form legend {
    background-color: forestgreen;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
  }
  
  /*----- Clearfix: Force an Element not to collapse -----*/
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
}
