@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");
* {
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  background-color: #faebd7;
}

img {
  max-width: 100%;
  height: auto;
}
h1,
h2 {
  font-family: "Lora", serif;
}

header {
  background-color: #6495ed;
}

header nav ul {
  list-style-type: none;
}

header nav ul li:link {
  color: #faebd7;
}

header nav ul li a:visited {
  color: #faebd7;
}

header nav ul li a:hover {
  color: white;
  text-decoration: underline;
}

header nav ul li a:active {
  color: #deb887;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.acolor {
  color: #faebd7;
  text-decoration: none;
}

main {
  background-color: #faebd7;
  margin: auto;
}

.post-content h2 a {
  text-decoration: none;
}

article {
  background-color: white;
  border-right: 1px solid #deb887;
  border-bottom: 1px solid #deb887;
  margin-bottom: 5em;
  margin-top: 5em;
}

figure {
  margin-top: 40px;
  margin-bottom: 20px;
}

article h2 a:link {
  color: black;
}

article h2 a:visited {
  color: black;
}

article h2 a:hover {
  color:  #6495ED;
  text-decoration: underline;
}

article h2 a:active {
  color: #DEB887;
}

article p a:link {
  color:  #6495ED;
}

article p a:visited {
  color:  #6495ED;
}

article p a:hover {
  text-decoration: underline;
}

article p a:active {
  color:  #DEB887;
}
/*end style*/