@media only screen and (min-width: 20em) {
   
  nav button {
    margin: 0.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
  }
  
  nav {
    background-color: #ccc;
    font-family: Verdana, sans-serif;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    display: block;
    padding: 0.8rem;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  nav ul li a:hover {
    background-color: brown;
    color: white;
  }
  
  .active {
    background-color: orangered;
    color: white;
  }
  
  nav ul.hide {
    display: none;
  }

  footer img {
    width: 150px;
    height: 100px;
    padding-top: 1.5rem;
  }

  #social {
    padding-bottom: 1.5rem;
  }

  #summary {
    font-size: 1rem;
    position: relative;
    margin-top: 80px;
  }
  
  /*----- Clearfix: Force an Element not to collapse -----*/
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
}
