@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
  font-size: 1.2em;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: black;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

footer {
  background-color: black;
  text-align: center;
  font-family: "Prompt", sans-serif;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

footer a {
  color: white;
}

h1, h2, h3 {
  font-family: "Prompt", sans-serif;
}

.maintitle {
  text-align: center;
}

header,
main,
footer {

  max-width: 1000px;
  margin: 0 auto;
}

table {
  margin: 0 auto;
  font-family: "Prompt", sans-serif;
}

td, th {
  padding: 40px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

nav li {
  font-family: "Prompt", sans-serif;
  float: left;
}

.personas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

nav li a:hover {
    background-color: #8B9556;
}

.headerfooter {
  background-color: #440D0F;
  color: white;
}

.colornav {
  background-color: #603A40;
  color: white;
}

.font {
  background-color: #603A40;
  color: #FFE5D4;
}

.headerfont {
  font-family: 'Staatliches', cursive;
  background-color: #440D0F;
  color: white;
}

.footerfont {
  font-family: 'Staatliches', cursive;
  background-color: #440D0F;
  color: white;
}
.navfont {
  font-family: 'Secular One', sans-serif;
  background-color: #440D0F;
  color: white;
}

/*medium screen*/
@media all and (max-width: 33em) {
  main {
      grid-template-columns: 1fr 1fr;
  }
}

/*small screen*/
@media all and (max-width: 30em) {
  main {
      grid-template-columns: 1fr;
  }
}