@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");

body {
  font-size: 1.2em;
  background-color: #94A89A;
}
header {
  background-color: black;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

h1,
h2 {
  font-family: "Prompt", sans-serif;
}

.maintitle {
  text-align: center;
}

header,
main,
footer {

  max-width: 1000px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

nav li {
  font-family: "Prompt", sans-serif;
  float: left;
}

nav li a:hover {
    background-color: #8B9556;
}